<template name='palettesList'>
  {{#each palettes}}
      {{> paletteItem}}
  {{/each}}
</template>

<template name="paletteItem">
  <div>
    {{name}}
    {{#each colorItems}}
      {{> paletteItemEntry}}
    {{/each}}
    <a href="xyz">derive...</a>
  </div>
</template>

<template name="paletteItemEntry">
  <span class="palette-item-entry" style="background-color: {{htmlColor}}; color: {{contrastColor}}">{{index}}</span>
</template>

<template name="palettePage">
  {{> paletteItem}}
</template>