<template name='palettesList'>
  {{#each palettes}}
      {{> paletteItem}}
  {{/each}}
  <a href="{{pathFor "palettePage"}}">new palette</a>
  <a href="/palettePage/new">new palette2</a>
</template>

<template name="paletteItem">
  <div class="paletteItem {{maybe_selected}}">
    {{name}}
    {{#each colorItems}}
      {{> paletteItemEntry}}
    {{/each}}
    <button name="delte">delete</button>
    <a href="{{pathFor "palettePage"}}">edit</a>
  </div>
</template>

<template name="paletteItemEntry">
  <span class="palette-item-entry" style="background-color: {{htmlColor}}; color: {{contrastColor}}">{{index}}</span>
</template>

<template name="palettePage">
  <form>
    editing: {{name}}
    {{#each colorItems}}
      <span class="{{maybe_selected}}">
      {{> paletteItemEntry}}
      </span>
    {{/each}}
    <br/>
    <input type="color" name="color1">
    <input type="color" name="color2">

    <button name="deleteColor">delete Color</button>
    <button name="addColor">add Color</button>

    <input type="submit" value="save">
  </form>
</template>