<template name='palettesList'>
  {{#each palettes}}
      {{> paletteItem}}
  {{/each}}
  <a href="{{pathFor "palettePage"}}">new palette</a>
</template>

<template name="paletteItem">
  <div class="paletteItem {{maybe_selected}}">
    {{name}}
    {{#each colorItems}}
      {{> paletteItemEntry}}
    {{/each}}
    <a href="{{pathFor "palettePage"}}">edit</a>
  </div>
</template>

<template name="paletteItemEntry">
  <span class="palette-item-entry" style="background-color: {{htmlColor}}; color: {{contrastColor}}">{{index}}</span>
</template>

<template name="palettePage">
  {{> paletteItem}}
  Ediing page
</template>